doctype html
html(lang="zh-Hant-TW")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="device=device-width, initial-scale=1")
    title 臺灣產業新勢力
    link(href="css/style.css" rel="stylesheet")
  body
    .cart#cart(onclick="leave()")
    .cart-content
      .cart-intro
        h2.display-2 購物車
        h3.display-3 您購買的商品都會在這
      .cart-item
        .cart-item-cancel 取消
        img(src="img/dessert17.jpg" alt="")
        h3 傳統壓製冰棒
        h4 涼水工作室
        h3.price NT$300

      .cart-item
        .cart-item-cancel 取消
        img(src="img/3C10.jpg" alt="")
        h3 輕鬆舒適智慧表
        h4 書蟲工作室
        h3.price NT$6300

      .cart-item
        .cart-item-cancel 取消
        img(src="img/dessert24.jpg" alt="")
        h3 甜蜜當日糕點
        h4 高立工作室
        h3.price NT$500

      .cart-footer
        h2 結帳
        h3 總金額
        h2.price NT$7100
        a(onclick="error()").btn.btn--ghost.btn--block.btn--dark 結帳

    nav.nav-main#navMain
      .nav-left
        h1.logo
          a(href="#hero") 臺灣產業新勢力
        ul.list-main
          li: a(href="#hero") 產業崛起
          li: a(href="#guide") 快速導覽
          li: a(href="#store") 瀏覽商城
          li: a(href="#topic") 讀話題

      ul.list-extra
        li: a(href="#cart") 購物車(3)
        li: a(href="#footer-about") 關於我們
        li: a(href="#footer-news").point 訂閱電子報
    section.hero#hero
      .container
        .row
          .hero-content
            .hero-inner
              h2.display-1 台灣產業的實力迎擊
              h3.display-2 新世紀的到來、新勢力的崛起
            .button-group
              a(href="#about").btn.btn--ghost-main 關於我們
              a(href="#store").btn.btn--ghost 瀏覽商城

    section.guide#guide
      .container
        .row.flex-dir-col
          .section-intro
            h2.display-2 快速導覽
            h3.display-3 網站架構快速一覽
          .gallery
            a(href="#about").gallery-item.grid-lg.obj-bottom
              .gallery-img
                img(src="img/sport38.jpg" alt="")

              .gallery-content
                h3 臺灣產業，起步
                h4 進一步了解我們的故事
                hr
                p 詳細了解更多“台灣產業新勢力”的堅持、努力，以及希望為大眾帶來的服務等...

            a(href="#contact-form").gallery-item.grid-ln
              .gallery-img
                img(src="img/bg26.jpg" alt="")

              .gallery-content
                h3 聯絡我們
                h4 給予意見反饋
                hr
                p 您的意見反饋可以幫助我們做得更好。

            a(href="#store").gallery-item
              .gallery-img
                img(src="img/bg11.jpg" alt="")

              .gallery-content
                h3 全新商品
                h4 最新最棒的商品就在這裡
                hr

            a(href="#store").gallery-item
              .gallery-img
                img(src="img/music15.jpg" alt="")

              .gallery-content
                h3 全部商品
                h4 隨意瀏覽逛逛也是個好選擇
                hr

            a(href="#win").gallery-item
              .gallery-img
                img(src="img/music17.jpg" alt="")

              .gallery-content
                h3 銷售排行榜
                h4 我們的前三銷售冠軍，最受肯定喜愛的商品
                hr

    section.about#about
      .container
        .row
          .about-content
            .section-intro
              h2.display-2 關於我們
              h3.display-3 了解我們品牌背後的故事


            .about-inner
              h3 便利的網路世代，改變你我的生活
              p 這是一個講求效率的世代，網路的普及發展已超過前人所想像的速度向前發展，
                |多次的網頁架構風潮興衰，像是從形象網站到拍賣網站，再接著是「無民小站」等
                |部落格連帶影響了創作者生涯的起起落落，多次的風潮而去我們不禁深思如何去實現這個理想──<br>
                h4 “建立一個消費者便利採購，產業努力於開發”
                |以上理念即是是產業勢力一直的指標。
              <br>
              h3 為什麼選擇我們
              p 在這裡我們有自己堅守的原則，也是顧客數年來肯定我們的核心價值，方便的購物、便利的形象宣傳、建立
              .pros
                .pro
                  h3 總顧客人數
                  h2 總人數<br>12400<sup> 人

                .pro
                  h3 好評率
                  h2 上升<br>25<sup> %
                .pro
                  h3 經手商家
                  h2 總共<br>430<sup> 家
    section.store#store
      .container
        .row.flex-start
          .side
            h2 商品分類
            ul.type.list-horiz
              li 電子類
              li 食品類
              li 機能類
              li 隨身小物

            h2 銷售排行榜
            ul.win#win
              li
                .num 1.
                h3 給你的優質耳機
                h4 立方工作室
                p 舒活耳機又再次奪下這次的銷售競爭排行，平實的價格、樸實的機能性廣受喜愛。

              li
                .num 2.
                h3 戀愛般的甜蜜體驗
                h4 高立工作室
                p 以手工當日製作、主打獨家配方的高立工作室，吃完他們的糕點總是讓人沉浸在
                  |戀愛般的幸福感之中。
              li
                .num 3.
                h3 一個拓荒者該有的背包
                h4 開拓工作室
                p 開拓工作室全新商品系列─開拓者，時尚的外型、多功能適合外出的設計是每個拓荒者
                  |應該擁有的最好配備。


          .shop-wrapper
            .section-intro
              h2.display-2 線上商城
              h3.display-3 臺灣產業的新血，各產業優質的原創商品
            .shop-gallery
              a(href="#cart").shop-item
                .shop-img
                  img(src="img/3C8.jpg" alt="")
                  img(src="img/3C9.jpg" alt="")

                .shop-content
                  h3 機能好舒活耳機
                  h4 立方工作室
                  h3.price NT$3300 / 個<br>線材另購

              a(href="#cart").shop-item
                .shop-img
                  img(src="img/3C10.jpg" alt="")
                  img(src="img/3C13.jpg" alt="")

                .shop-content
                  h3 輕鬆舒適智慧表
                  h4 書蟲工作室
                  h3.price NT$6300 / 個

              a(href="#cart").shop-item
                .shop-img
                  img(src="img/3C3.jpg" alt="")
                  img(src="img/3C4.jpg" alt="")

                .shop-content
                  h3 威力真重音耳機
                  h4 力量工作室
                  h3.price NT$8300 / 個

              a(href="#cart").shop-item
                .shop-img
                  img(src="img/dessert24.jpg" alt="")
                  img(src="img/dessert37.jpg" alt="")

                .shop-content
                  h3 甜蜜當日糕點
                  h4 高立工作室
                  h3.price NT$500 / 塊<br>客製化

              a(href="#cart").shop-item
                .shop-img
                  img(src="img/dessert30.jpg" alt="")
                  img(src="img/dessert39.jpg" alt="")

                .shop-content
                  h3 樂活享食水果禮盒
                  h4 書蟲工作室
                  h3.price NT$1300 / 盒<br>可點選細項種類

              a(href="#cart").shop-item
                .shop-img
                  img(src="img/dessert17.jpg" alt="")
                  img(src="img/dessert18.jpg" alt="")

                .shop-content
                  h3 傳統壓製冰棒
                  h4 涼水工作室
                  h3.price NT$300 / 盒

              a(href="#cart").shop-item
                .shop-img
                  img(src="img/sport21.jpg" alt="")
                  img(src="img/sport20.jpg" alt="")

                .shop-content
                  h3 個性衝鋒滑板
                  h4 性格工作室
                  h3.price NT$8100 / 個<br>客製化

              a(href="#cart").shop-item
                .shop-img
                  img(src="img/pack10.jpg" alt="")
                  img(src="img/pack9.jpg" alt="")

                .shop-content
                  h3 探險者 V.01
                  h4 開拓工作室
                  h3.price NT$4300 / 個

              a(href="#cart").shop-item
                .shop-img
                  img(src="img/pack2.jpg" alt="")
                  img(src="img/pack11.jpg" alt="")

                .shop-content
                  h3 真皮辦公背包
                  h4 方木工作室
                  h3.price NT$8300 / 個

    section.topic#topic
      .container
        .row.flex-dir-col
          .section-intro
            h2.display-2 讀話題
            h3.display-3 最新的產業趨勢就在這
          .topic-wrapper
            .topic-item
              .topic-img
                img(src="img/cookie3.jpg" alt="")
              .topic-content
                h2 文創產業市集

              .topic-hide
                h2 文創產業市集
                p 我們與好點子市集一同舉辦了「文創產業心元年」市集活動，快來共襄盛舉吧！
                a(href="https://twitter.com").btn.btn--ghost-main Twitter活動頁面

            .topic-item
              .topic-img
                img(src="img/music4.jpg" alt="")
              .topic-content
                h2 臺灣產業筆記欄

              .topic-hide
                h2 臺灣產業筆記欄
                p 對於台灣產業我們略有調查，同時也有免費的電子月刊定閱。歡迎每周過來觀看最新的產業探討資訊。
                a(href="https://plurk.com").btn.btn--ghost-main Plurk部落格

            .topic-item
              .topic-img
                img(src="img/bg13.jpg" alt="")
              .topic-content
                h2 電子業的一道閃光

              .topic-hide
                h2 電子業的一道閃光
                p 電子在台是產值數一數二的龍頭產業，我們邀請了多家知名電子廠商進行交流合作的午後茶會
                a(href="https//facebook.com").btn.btn--ghost-main Facebook粉絲專頁


    section.footer#footer
      .container
        .row
          .footer-content
            .footer-item.footer-about#footer-about
              h2 關於我們
              h1.logo
                a(href="#hero") 臺灣產業新勢力
              p 我們是一個致力於推廣台灣產業品牌的媒體線上網頁平台。顧客能快速找到想要的，創作者、公司能
                |有個輕鬆的管道便利行銷自家產品及是我們的核心目標。

              ul.social
                li: a(href="https://facebook.com") Facebook
                li: a(href="https://twitter.com") Twitter
                li: a(href="https://instagram.com") Instagram


            .footer-item.footer-nav
              h2 快速導覽
              ul.list-horiz
                li: a(href="#hero") 產業崛起
                li: a(href="#guide") 快速導覽
                li: a(href="#store") 瀏覽商城
                li: a(href="#topic") 讀話題
            .footer-item.footer-news#footer-news
              h2 訂閱電子報
              p 定閱我們每月一期的「產業勢力月刊」，帶您了解該月臺灣最有影響力的
                |產業新勢力。
              form
                input(type="email" placeholder="輸入您的電子信箱")
                button(onclick="send()").btn.btn--ghost.btn--block.btn--dark 送出

    section.contact#contact
      .container-fluid
        .row
          a(href="#contact-form").half.side-choice
            .side-img
              img(src="img/bg3.jpg")
            .side-content
              h2 聯絡我們
              h3 您的想法，可以幫助我們做得更好

          a(href="https://facebook.com").half.side-choice
            .side-img
              img(src="img/bg2.jpg")
            .side-content
              h2 更多資訊
              h3 想要了解更多「臺灣產業新勢力」，請進入我們的<br>Facebook粉絲團

    section.contact-form#contact-form
      .container
        .row
          form
            h2.display-2 聯絡表單
            h3.display-3 您的想法幫助我們做得更好
            label(id="name") 姓名
            input(for="name" type="text" placeholder="請輸入您的姓名")
            label(id="email") 電子信箱
            input(for="email" type="text" placeholder="請輸入您的電子信箱")
            label(id="phone") 電話
            input(for="phone" type="text" placeholder="請輸入您的電話")
            label(id="des") 意見
            textarea(for="des" placeholder="您寶貴的意見")
            button(onclick="send()").btn.btn--ghost.btn--block 送出

    .footer-copyright
      small 臺灣產業新勢力
      br
      small 2018 / 12 / 5 || All Right Reserved.

    script(src="js/main.js")
